
<body background="file:file:///C:/Users/Bianca/Desktop/photo-1550895030-823330fc2551.webp">

	h1 {
  text-align: center;
  text-shadow: 2px 2px white;
  padding: 13px
  background-color: #666;
}
h1 {
	text-shadow: 1px 1px #ff9900
}
h1 {
	text-align: center;
}
h1 {
	font-size: 340%;
}
h2 {
	text-align: center;
}

* {
  max-width: 700px;
  margin: auto;
}

/*body {
    min-width: 500px;
}*/

div {
  border-radius: 5px;
}
a {
  text-decoration: none;
  }
  a:link {
  color: #ffcc00;
  border-bottom: 2px solid #ffcc00;
  }
  a:hover {
  color: #1a1400;
  border-bottom: 2px solid #ffcc00;
  } 
  a:hover {
  background-color: rgb(255, 204, 0);
  font-style: oblique;
}a:visited {
      color: #804000;
      border-bottom: 1px #ff9900;
  }
a {
	font-size: 150%;
}